{% extends 'core/base.html' %}

{% block content %}
    <h1 class="mb-6 text-3xl">Project:{{ project.name }}</h1>

    {% if project.description %}
        <p>{{ project.description }}</p>
    {% endif %}

    <a href="{% url 'todolist:add' project.id %}" class="py-4 px-8 bg-lime-600 text-white inline-block">Add todolist</a>
    <a href="{% url 'project:edit' project.id %}" class="py-4 px-8 bg-sky-600 text-white inline-block">Edit</a>
    <a href="{% url 'project:delete' project.id %}" class="py-4 px-8 bg-amber-600 text-white inline-block">Delete</a>

    <h2 class="mt-6 text-2xl">Todolists</h2>

    <div class="mt-6 grid grid-cols-4 gap-4">
        {% for todolist in project.todolists.all %}
        <div class="py-6 px-6 bg-slate-200">
            <a href="{% url 'todolist:todolist' project.id todolist.id %}" class="text-blue-600 hover:underline">
                <h2 class="mb-4  text-xl">{{ todolist.name }}</h2>

                <p class="text-sm text-slate-600">{{ todolist.description }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

    <h2 class="mt-6 text-2xl">Files</h2>
    <a href="{% url 'project:upload_file' project.id %}" class="py-4 px-8 bg-slate-600 text-white inline-block">Upload File</a>
    {% for projectfile in project.files.all %}
        <div class="py-6 px-6 bg-slate-200">
                <h2 class="mb-4 text-xl">{{ projectfile.name }}</h2>
                <a href="{{ projectfile.attachment.url }}" target="_blank" class="text-blue-600 hover:underline">
                    <p class="text-sm text-slate-600">Download file</p>
                </a>
                <a href="{% url 'project:delete' project.id projectfile.id %}" class="text-blue-600 hover:underline">
                    <p class="text-sm text-slate-600">Delete file</p>
                </a>
                
        </div>
    {% empty %}
        <p>No files uploaded yet.</p>
    {% endfor %}

{% endblock %}
